# Core ML
pandas
numpy
scikit-learn
xgboost
optuna

# MLflow
mlflow

# API & Serving
fastapi
uvicorn[standard]
pydantic
gradio

# Utils
python-dotenv
joblib

# Validation & Testing
great-expectations
pytest
requests

# Development
jupyter
